<header
  x-data="{ openIndex: 0 }"
  class="hidden lg:flex flex-col"
>
  <div class="bg-gray text-white py-4 fluid-grid">
    <nav class="span-content">
      <ul class="flex justify-end gap-x-3.5">
        {% for item in utility_menu.items %}
          <li class="">
            <a
              href="{{ item.link }}"
              target="{{ item.target ?: '_self' }}"
              class="text-body-md hover:text-blue-baby"
            >{{ item.title }}</a>
          </li>
        {% endfor %}
        {# <li
          x-data="{ open: false }"
          class="relative flex flex-col justify-center"
        >
          <button
            @click="open = !open"
            @click.outside="open = false"
            :class="open && 'text-blue'"
            class="ml-2 transition-colors hover:text-blue-baby"
            :aria-label="open ? 'Close emerging markets menu' : 'Open emerging markets menu'"
          >
            {{ include('svgs/globe.twig', {
              class: 'size-5',
            }) }}
          </button>
          <div
            x-show="open"
            x-trap="open"
            x-cloak
            @keyup.escape="open = false"
            x-transition:enter="transition"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            class="absolute z-50 top-[calc(100%+0.75rem)] -right-4 bg-white w-80 p-8 text-gray-dark"
            style="box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);"
          >
            <div class="absolute z-50 -top-0.75 rounded-xs right-3.5 size-6 bg-white rotate-45"></div>
            <ul class="space-y-7">
              {% for item in global.emerging_markets %}
                <li class="">
                  <a
                    href="{{ item.link.url }}"
                    class="inline-flex gap-x-3 hover:underline"
                  >
                    {{ ResponsiveImage(item.image, {
                      class: 'w-8 h-6',
                    }) }}
                    <p class="text-body-lg">{{ item.link.title }}</p>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li> #}
      </ul>
    </nav>
  </div>
  <div class="fluid-grid relative h-24 py-4">
    <div class="span-content flex justify-between">
      <a
        href="/"
        class="flex px-4 -ml-4"
      >
        <img
          class="w-72"
          src="{{ theme.path }}/dist/svgs/logo.svg"
          alt="Duravant Logo"
        >
      </a>
      <div class="flex gap-x-4">
        {% for item in primary_menu.items %}
          {% if item.children|length > 0 %}
            <button
              @click="openIndex === {{ loop.index }} ? openIndex = 0 : $nextTick(() => { openIndex = {{ loop.index }} })"
              class="font-aktiv-grotesk-extended font-semibold text-sm uppercase py-3 px-2 hover:underline hover:decoration-4 hover:underline-offset-4 hover:decoration-gray"
            >{{ item.title }}</button>
            <div
              x-show="openIndex === {{ loop.index }}"
              x-trap="openIndex === {{ loop.index }}"
              x-cloak
              @keyup.escape="openIndex = 0"
              @click.outside="openIndex = 0"
              x-transition:enter="transition ease-out duration-300 z-50"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="transition ease-in duration-300"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              class="absolute z-40 top-full left-0 w-full fluid-grid bg-white py-10"
            >
              <div class="span-content grid grid-cols-subgrid">
                <div class="col-span-3 flex flex-col gap-y-2">
                  <p class="text-h4">{{ item.title }}</p>
                  <p class="text-body-medium">{{ item.description }}</p>
                </div>
                <div class="col-span-4 flex flex-col gap-y-2">
                  <ul class="space-y-3.5 columns-2">
                    {% for child in item.children %}
                      <li class="">
                        <a
                          href="{{ child.link }}"
                          target="{{ child.target ?: '_self' }}"
                          class="text-body-medium hover:underline decoration-1"
                        >{{ child.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-span-5">
                  {% if item.type == 'image' %}
                    {{ ResponsiveImage(item.image, {
                      class: '',
                    }) }}
                  {% elseif item.type == 'link_card' %}
                    <article class="relative flex gap-x-6">
                      {{ ResponsiveImage(item.card_image, {
                        class: 'w-36 aspect-square object-cover shrink-0',
                      }) }}
                      <div class="flex flex-col">
                        <h3 class="">
                          <a
                            href="{{ item.card_link.url }}"
                            class="group"
                          >
                            <span class="absolute inset-0"></span>
                            <div class="inline-flex gap-x-2 items-center">
                              <span class="text-h6">{{ item.card_link.title }}</span>
                              {{ include('svgs/arrow-right.twig', { class: 'inline-block size-4 transition-transform shrink-0 group-hover:translate-x-1' }) }}
                            </div>
                            <span class="absolute -inset-4 border-4 border-blue opacity-0 transition-opacity group-hover:opacity-100"></span>
                          </a>
                        </h3>
                        <p class="text-body-medium mt-2.5">{{ item.card_body }}</p>
                      </div>
                    </article>
                  {% endif %}
                </div>
              </div>
            </div>
          {% else %}
            {% if item.is_button %}
              <div class="flex items-center">
                <a
                  href="{{ item.link }}"
                  target="{{ item.target ?: '_self' }}"
                  class="button-primary"
                >{{ item.title }}</a>
              </div>
            {% else %}
              <a
                href="{{ item.link }}"
                target="{{ item.target ?: '_self' }}"
                class="font-aktiv-grotesk-extended font-semibold text-sm uppercase flex items-center py-3 px-2 hover:underline hover:decoration-4 hover:underline-offset-4 hover:decoration-gray"
              >{{ item.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</header>
