<div
  x-show="activeIndex === {{ loop.index }}"
  x-trap="activeIndex === {{ loop.index }}"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="fluid-grid absolute z-50 top-0 left-0 w-full h-[calc(100dvh-var(--wp-admin--admin-bar--height,0px)-6rem))] bg-white overflow-y-auto"
>
  <div class="span-content py-8">
    <button
      @click="activeIndex = 0"
      class="flex items-center gap-x-1.5 p-3 -my-3 -ml-3"
    >
      {{ include('svgs/arrow-right.twig', { class: '-scale-x-100' }) }}
      <span class="">Return</span>
    </button>
    <p class="text-h4 mt-7 mb-7">{{ item.title }}</p>
    <ul class="flex flex-col gap-y-1 -my-3">
      {% for child in item.children %}
        <li class="">
          <a
            href="{{ child.link }}"
            target="{{ child.target ?: '_self' }}"
            class="text-body-medium inline-block p-3 -ml-3"
          >{{ child.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="my-7 w-full h-1 gradient-light bg-linear-to-r"></div>
    <div class="flex flex-col gap-y-7 mt-8">
        <div class="flex flex-col justify-center">
          {% if item.type == 'image' %}
            {{ ResponsiveImage(item.image, {
              class: '',
              sizes: '100vw',
            }) }}
          {% elseif item.type == 'link_card' %}
            <article class="relative flex gap-x-6">
              {{ ResponsiveImage(item.card_image, {
                class: 'w-36 aspect-square object-cover shrink-0',
                sizes: '144px',
              }) }}
              <div class="flex flex-col">
                <h3 class="">
                  <a
                    href="{{ item.card_link.url }}"
                    target="{{ item.card_link.target | default('_self') }}"
                    class="group"
                  >
                    <span class="absolute inset-0"></span>
                    <div class="inline-flex gap-x-2 items-center">
                      <span class="text-h6">{{ item.card_link.title }}</span>
                      {{ include('svgs/arrow-right.twig', { class: 'inline-block size-4 shrink-0 transition-transform group-hover:translate-x-1' }) }}
                    </div>
                    <span class="absolute -inset-3 border-4 border-blue opacity-0 transition-opacity group-hover:opacity-100"></span>
                  </a>
                </h3>
                <p class="text-body-medium mt-2.5">{{ item.card_body }}</p>
              </div>
            </article>
          {% endif %}
        </div>
      </article>
    </div>
  </div>
</div>
