<!DOCTYPE html>
<html
  {{ function('language_attributes') }}
  class="text-gray-dark scroll-smooth"
>

<head>
  <meta charset="{{ function('bloginfo', 'charset') }}">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">

  <link rel="stylesheet" href="https://use.typekit.net/pny5eoy.css">

  {{ function('wp_head') }}

  {# Munchkin code provided by MAC via Nick for Marketo #}
  <script type="text/javascript">
    (function() {
      var didInit = false;
      function initMunchkin() {
        if(didInit === false) {
          didInit = true;
          Munchkin.init('803-FRB-652');
        }
      }
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//munchkin.marketo.net/munchkin.js';
      s.onreadystatechange = function() {
        if (this.readyState == 'complete' || this.readyState == 'loaded') {
          initMunchkin();
        }
      };
      s.onload = initMunchkin;
      document.getElementsByTagName('head')[0].appendChild(s);
    })();
  </script>
</head>

<body {{ function('body_class') }}>
  <div>
    <a
      class="transition duration-150 left-0 bg-blue-deep text-white text-h5 absolute z-50 p-3 m-3 -translate-y-20 focus-visible:translate-y-0 focus-default"
    href="#main"
    >Skip To Main Content</a>
    <a
      class="transition duration-150 left-0 bg-blue-deep text-white text-h5 absolute z-50 p-3 m-3 -translate-y-20 focus-visible:translate-y-0 focus-default"
    href="#footer"
    >Skip To Footer</a>
  </div>

  {% include "components/header.twig" %}

  <main id="main">
    {% block main %}{% endblock %}
  </main>

  {% include "components/footer.twig" %}

  {{ function('wp_footer') }}
</body>

</html>
