<section
  {% if id %}
    id="{{ id }}"
  {% endif %}
  class="fluid-grid gap-y-8 py-16"
>
  <div class="span-content lg:col-end-[col-7]">
    {{ ResponsiveImage(image, {
      class: 'w-full mb-10',
      sizes: '(min-width: 1376px) 616px, (min-width: 1024px) 50vw, 100vw',
    }) }}
    <div class="space-y-2.5">
      <h2 class="text-h3 text-balance">{{ heading }}</h2>
      <div class="wysiwyg">{{ wysiwyg }}</div>
    </div>
  </div>
  <div class="span-content lg:col-start-[col-7] flex flex-col gap-y-6 self-center">
    {% for market in markets %}
      <div class="flex gap-x-5">
        <div class="shrink-0">
          {{ ResponsiveImage(market.flag, {
            class: 'w-8',
            sizes: '32px',
          }) }}
        </div>
        <div class="space-y-2.5">
          <h3 class="text-h5">{{ market.name }}</h3>
          {% if market.body %}
            <p class="text-body-medium">{{ market.body }}</p>
          {% endif %}
          {% if market.link %}
            <div class="">
              {{ include('partials/arrow-link-small.twig', market.link) }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
