{# Shows all upcoming events and multi-day events that haven't ended #}
{% set events = get_posts({
  post_type: 'event',
  posts_per_page: -1,
  meta_key: 'date_or_start_date',
  orderby: 'meta_value',
  order: 'ASC',
  meta_query: [{
    relation: 'OR',
    first: {
      key: 'date_or_start_date',
      value: 'now'|date('Ymd'),
      type: 'NUMERIC',
      compare: '>=',
    },
    second: [{
      relation: 'AND',
      first: {
        key: 'date_or_start_date',
        value: 'now'|date('Ymd'),
        type: 'NUMERIC',
        compare: '<=',
      },
      second: {
        key: 'end_date',
        value: 'now'|date('Ymd'),
        type: 'NUMERIC',
        compare: '>=',
      },
    }],
  }],
}) %}

<section class="fluid-grid">
  {% for event in events %}
    <article class="span-content grid grid-cols-subgrid gap-y-2.5 py-12">
      {{ ResponsiveImage(event.image, {
        class: 'w-full col-span-12 sm:col-span-6 md:col-span-3 h-36 object-contain mb-4 md:mb-0',
        sizes: '',
      }) }}
      <div class="col-span-12 sm:col-span-6 md:col-span-9 grid grid-cols-subgrid">
        <div class="col-span-12 md:col-span-3 space-y-2.5">
          <div class="">
            <a
              class="group p-3 -m-3 inline gap-x-2 items-center"
              href="{{ event.url }}"
              target="_blank"
            >
              <span class="font-aktiv-grotesk-extended font-medium text-base lg:text-[1.0625rem] leading-6 lg:leading-[1.625rem]">{{ event.title }}</span>
              {{ include('svgs/arrow-right.twig', { class: 'inline-block ml-2 shrink-0 size-4 transition-transform group-hover:translate-x-1' }) }}
            </a>
          </div>
          <div class="text-body-medium">
            {% if event.end_date %}
              {% if event.date_or_start_date|date('F') == event.end_date|date('F') %}
                {{ event.date_or_start_date|date('F j') }} - {{ event.end_date|date('j, Y') }}
              {% else %}
                {{ event.date_or_start_date|date('F j') }} - {{ event.end_date|date('F j, Y') }}
              {% endif %}
            {% else %}
              <div class="text-body-medium">{{ event.date_or_start_date|date('F j, Y') }}</div>
            {% endif %}
          </div>
        </div>
        <div class="col-span-12 md:col-span-3 space-y-2.5">
          <div class="text-body-medium">{{ event.location_primary }}</div>
          <div class="text-body-medium">{{ event.location_secondary }}</div>
        </div>
        <div class="col-span-12 md:col-span-3 space-y-2.5">
          <div class="text-body-medium">{{ event.description }}</div>
        </div>
      </div>
    </article>
    {% if not loop.last %}
      <div class="span-content w-full h-px bg-gray-light"></div>
    {% endif %}
  {% endfor %}
</section>
