{% if type == 'quote' %}
  {% set brands = get_posts(brands) %}
{% else %}
  {% set brands = custom_brands %}
{% endif %}

{% if brands %}
  <section class="fluid-grid py-12">
    {% for brand in brands %}
      {% if type == 'quote' %}
        {% set logo = brand.logo %}
        {% set logo_max_height = brand.logo_max_height %}
        {% set heading = brand.featured_heading %}
        {% set wysiwyg = brand.featured_wysiwyg %}
        {% set quote = brand.featured_quote %}
        {% set quote_author = brand.featured_quote_author %}
        {% set link = brand.featured_link %}
      {% else %}
        {% set logo = get_post(brand.brand).logo %}
        {% set logo_max_height = get_post(brand.brand).logo_max_height %}
        {% set heading = brand.heading %}
        {% set wysiwyg = brand.wysiwyg %}
        {% set link = brand.link %}
      {% endif %}

      {% if not loop.first %}
        <div class="span-content">
          <div class="w-full h-px bg-gray-light my-12"></div>
        </div>
      {% endif %}
      <article class="span-content grid grid-cols-subgrid gap-y-12">
        <div
          class="
            col-span-12 lg:col-span-6
            {% if loop.index is even %}
              lg:hidden
            {% endif %}
          "
        >
          {% if brand.image %}
            {{ ResponsiveImage(brand.image, {
              class: 'w-full',
            }) }}
          {% endif %}
        </div>
        <div class="col-span-12 lg:col-span-6 space-y-6">
          {% if logo %}
            <div class="mb-12 max-w-3/5">
              {{ ResponsiveImage(logo, {
                class: 'w-full aspect-video object-contain object-left',
              }) }}
            </div>
          {% endif %}
          <h3 class="text-h4">{{ heading }}</h3>
          {% if wysiwyg %}
            <div class="wysiwyg">{{ wysiwyg }}</div>
          {% endif %}
          {% if quote %}
            <figure class="relative">
              <div class="absolute top-0 left-0 size-full gradient-light bg-linear-to-r opacity-40">
              </div>
              {{ include('svgs/quote.twig', {
                class: 'absolute top-2.5 left-5 w-14 text-blue-light opacity-40',
              }) }}
              <div class="relative p-5 space-y-3.5">
                <blockquote class="text-body-large">"{{ quote }}"</blockquote>
                {% if quote_author %}
                  <figcaption class="text-body-medium text-right">- {{ quote_author }}</figcaption>
                {% endif %}
              </div>
            </figure>
          {% endif %}
          {% if link %}
            <div class="">
              {{ include('partials/arrow-link-large.twig', {
                ...link,
                link: link.url
              }) }}
            </div>
          {% endif %}
        </div>
        {% if loop.index is even and brand.image %}
          <div class="hidden lg:block col-span-12 lg:col-span-6">
            {{ ResponsiveImage(brand.image, {
              class: 'w-full',
            }) }}
          </div>
        {% endif %}
      </article>
    {% endfor %}
  </section>
{% endif %}
