<footer
  id="footer"
  class="fluid-grid text-white bg-gray-dark py-12 lg:pt-24"
>
  <div class="span-content grid grid-cols-subgrid gap-y-10">
    <div class="col-span-12 lg:col-span-4 flex flex-col">
      <div class="flex">
        <a
          href="/"
          class="inline-block"
        >
          <div class="sr-only">Home</div>
          <img
            src="{{ theme.path }}/dist/svgs/logo-white.svg"
            alt="Duravant Logo"
            class="h-10"
          >
        </a>
      </div>
      <p class="mt-5 text-body-large">{{ global.footer_text }}</p>
      <ul class="flex gap-x-11 mt-9">
        {% for item in global.social_links %}
          <a
            href="{{ item.url }}"
            target="_blank"
            class="inline-block size-7.5 hover:text-blue"
          >
            {{ include('svgs/social/' ~ item.platform ~ '.twig') }}
          </a>
        {% endfor %}
      </ul>
    </div>
    <div class="grid grid-cols-subgrid col-span-12 lg:col-span-8 row-span-2 gap-y-7.5">
      {% for column in footer_menu.items %}
        {% if loop.index is odd %}
          <div class="col-span-6 lg:col-span-4 flex flex-col gap-y-7.5 lg:gap-fluid-grid-gap lg:grid lg:grid-cols-subgrid">
        {% endif %}
          <div class="flex flex-col gap-y-7.5 col-span-6 lg:col-span-2">
            {% for group in column.children %}
              <div class="flex flex-col gap-y-2 5">
                <header class="text-h6">{{ group.title }}</header>
                <div class="flex flex-col gap-y-2.5">
                  {% for link in group.children %}
                    <a
                      href="{{ link.url }}"
                      class="text-body-medium hover:text-blue"
                    >{{ link.title }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% if loop.index is even or loop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <p
      class="col-span-12 lg:col-span-4 self-end text-body-medium"
    >&copy; {{ 'now' | date('Y') }} Duravant. All rights reserved.</p>
  </div>
</footer>
