<section class="">
  <div class="fluid-grid">
    <div class="span-content">
      {{ include('partials/breadcrumbs.twig') }}
    </div>
  </div>
  <div class="relative">
    {{ ResponsiveImage(global.simple_standard_hero_background_image, {
      class: 'absolute size-full top-0 left-0 object-cover object-top-left',
      sizes: '100vw',
    }) }}
    <div class="fluid-grid">
      <div class="span-lg relative text-white pt-16 pb-64">
        <h1 class="text-h3 text-balance">{{ heading }}</h1>
        {% if body %}
          <p class="text-body-large mt-4">{{ body }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="fluid-grid relative -mt-52">
    {{ ResponsiveImage(image, {
      class: 'span-lg w-full aspect-[1.44] object-cover',
      sizes: '(min-width: 1376px) 838px, (min-width: 1024px) 67vw, (min-width: 768px) 84vw, 100vw',
    }) }}
    <div class="span-lg mt-8 mb-12 flex flex-col gap-y-4 md:flex-row">
      <div class="grow flex flex-col gap-y-4 md:flex-row md:items-center">
        <div class="flex flex-col gap-y-4 md:flex-row md:items-center">
          {% for category in post.terms('blog-category') %}
            {# link needs updating #}
            <a
              href="#{{ category.slug }}"
              class="text-body-medium text-blue-deep transition-colors hover:text-black"
            >{{ category.name }}</a>
            <div class="hidden md:block h-10 w-px mx-6 bg-blue-dark"></div>
          {% endfor %}
        </div>
        <div class="text-body-medium">{{ post.date }}</div>
      </div>
      <div class="flex items-center md:justify-end">
        <div class="text-body-medium mr-3">Share</div>
        {% for item in [
          { platform: 'linkedin', link_prefix: 'https://www.linkedin.com/sharing/share-offsite/?url=' },
          { platform: 'x', link_prefix: 'https://x.com/intent/tweet?url=' },
          { platform: 'facebook', link_prefix: 'https://www.facebook.com/sharer/sharer.php?u=' },
        ] %}
          <a
            href="{{ item.link_prefix }}{{ post.link }}"
            target="_blank"
            class="inline-flex items-center justify-center size-10 hover:text-blue"
          >
            <div class="sr-only">Share this article on {{ item.platform }}</div>
            <div class="size-4">
              {{ include('svgs/social/' ~ item.platform ~ '.twig') }}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
