<section class="">
  <div class="fluid-grid">
    <div class="span-content">
      {{ include('partials/breadcrumbs.twig') }}
    </div>
  </div>
  <div class="relative fluid-grid">
    {% if background == 'gradient' %}
      <div class="absolute top-0 left-0 size-full gradient-lighter bg-linear-to-b"></div>
    {% endif %}
    <div class="span-content relative grid grid-cols-subgrid gap-y-8 py-8 lg:py-16">
      {{ ResponsiveImage(image, {
        class: 'col-span-12 sm:col-span-9 md:col-span-7 w-full aspect-[1.1] rounded-r-full lg:hidden',
      }) }}
      <div class="span-content lg:col-end-[col-7] lg:self-center">
        <h1 class="text-h2">{{ heading }}</h1>
        {% if wysiwyg %}
          <div class="wysiwyg mt-4">{{ wysiwyg }}</div>
        {% endif %}
        {% if secondary_heading or secondary_wysiwyg %}
          <div class="w-full h-1 gradient-light bg-gradient-to-l my-6"></div>
        {% endif %}
        {% if secondary_heading %}
          <h2 class="text-h5">{{ secondary_heading }}</h2>
        {% endif %}
        {% if secondary_wysiwyg %}
          <div class="wysiwyg mt-2">{{ secondary_wysiwyg }}</div>
        {% endif %}
        {% if links %}
          <div class="mt-6 flex gap-6">
            {% for item in links %}
              <a
                class="{{ loop.first ? 'button-primary' : 'button-secondary-alt' }}"
                href="{{ item.link.url }}"
                target="{{ item.link.target | default('_self') }}"
              >{{ item.link.title }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {{ ResponsiveImage(image, {
        class: 'hidden lg:block col-start-[col-7] col-end-[col-13] w-full aspect-[1.1] rounded-r-full object-cover',
      }) }}
    </div>
  </div>
</section>
