<section class="relative fluid-grid text-white bg-black py-12 lg:py-20">
  <div class="absolute inset-0 mx-auto">
  {# max-w-(--breakpoint-2xl) #}
    {{ ResponsiveImage(background_image_mobile, {
      class: 'md:hidden size-full object-cover',
    }) }}
    {{ ResponsiveImage(background_image_desktop, {
      class: 'hidden md:block size-full object-cover',
    }) }}
  </div>
  <div class="relative z-10 span-content grid grid-cols-subgrid gap-y-6">
    <div class="hidden lg:block lg:col-span-5 self-center">
      <h1 class="text-h1 text-balance">{{ heading }}</h1>
      <p class="text-body-large mt-3">{{ body }}</p>
      {% if links %}
        <div class="flex flex-wrap mt-6 gap-6">
          {% for item in links %}
            <a
              class="{{ loop.first ? 'button-primary' : 'button-secondary' }}"
              href="{{ item.link.url }}"
              target="{{ item.link.target | default('_self') }}"
            >{{ item.link.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div
      x-data="{
        playing: true,
        togglePlay() {
          this.playing ? this.$refs.video.pause() : this.$refs.video.play()
          this.playing = !this.playing
        }
      }"
      class="col-span-12 sm:col-span-9 md:col-span-7 lg:col-span-7"
    >
      <div class="relative flex w-full aspect-[1.1] overflow-hidden rounded-r-full">
        <button
          @click="togglePlay()"
          class="group absolute z-10 bottom-3 left-3 size-6 border-current border-2 rounded-full text-white transition-colors hover:bg-white"
        >
          <div class="flex justify-center items-center">
            <div
              x-text="playing ? 'Pause' : 'Play'"
              class="sr-only text-black"
            ></div>
            <div
              x-show="playing"
              x-cloak
              class="border-current border-l-2 border-r-2 size-2  group-hover:text-black"
            ></div>
            <div
              x-show="!playing"
              x-cloak
              class="size-0 border-solid border-t-4 border-t-transparent border-b-4 border-b-transparent border-l-6 border-l-current translate-x-0.25 group-hover:text-black"
            ></div>
          </div>
        </button>
        <mux-player
          x-ref="video"
          class="[--controls:none] w-full scale-[1.62] pointer-events-none"
          {# scale amount is based on 16/9 video #}
          playback-id="{{ mux_video_playback_id }}"
          autoplay="muted"
          loop
        ></mux-player>
      </div>
    </div>
    <div class="block lg:hidden col-span-12">
      <h1 class="text-h1 text-balance">{{ heading }}</h1>
      <p class="text-body-large mt-3">{{ body }}</p>
      {% if links %}
        <div class="mt-6 flex flex-wrap gap-6">
          {% for item in links %}
            <a
              class="{{ loop.first ? 'button-primary' : 'button-secondary' }}"
              href="{{ item.link.url }}"
              target="{{ item.link.target | default('_self') }}"
            >{{ item.link.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
