<section class="overflow-hidden">
  <div class="fluid-grid">
    <div class="span-content relative py-16 bg-bone flex flex-col lg:col-end-[col-6] lg:px-16">
      <div class="absolute left-1/2 top-0 w-[200%] h-full -translate-x-1/2 bg-bone lg:left-auto lg:-right-6 lg:translate-x-0"></div>
      <div class="relative">
        <div class="inline-block">
          <h2 class="text-h4 inline-block text-balance">{{ heading }}</h2>
          <div class="w-full h-1 gradient-light bg-linear-to-r mt-2 mb-6"></div>
        </div>
        <nav class="">
          <ul class="space-y-6">
            {% for item in links %}
              <li class="">
                <a
                  class="group p-3 -m-3 inline items-center"
                  href="{{ item.link.url }}"
                  target="{{ item.link.target | default('_self') }}"
                >
                  <span class="text-h6">{{ item.link.title }}</span>
                  {{ include('svgs/arrow-right.twig', { class: 'inline-block ml-1.5 size-4 shrink-0 -translate-y-0.5 rotate-90 transition-transform group-hover:translate-x-1' }) }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="span-content relative py-16 bg-gray text-white lg:col-start-[col-6] lg:px-16">
      <div class="absolute left-1/2 top-0 w-[200%] h-full -translate-x-1/2 bg-gray lg:-left-6 lg:translate-x-0"></div>
      <div class="relative">
        <h3 class="text-h5 !normal-case">{{ list_heading }}</h3>
        <ul class="marker:text-blue-dark marker:text-lg list-disc pl-3.5 space-y-3 mt-4">
          {% for item in list %}
            <li class="text-body-medium">{{ item.text }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
