<section class="relative pt-12 pb-36 md:pt-12 lg:py-24 gradient-lighter bg-gradient-to-b">
  <div class="fluid-grid gap-y-12">
    <div class="span-content md:col-start-[col-1] md:col-end-[col-5] lg:self-center">
      {{ ResponsiveImage(global.lifecycle_services_banner.image, {
        class: 'w-full max-w-sm',
      }) }}
    </div>
    <div class="span-content md:col-start-[col-5] md:col-end-[col-12] lg:self-center">
      <div class="space-y-3">
        <h2 class="text-h2">{{ global.lifecycle_services_banner.heading }}</h2>
        <h3 class="text-h5">{{ global.lifecycle_services_banner.subheading }}</h3>
        <p class="text-body-medium">{{ global.lifecycle_services_banner.body }}</p>
      </div>
      {% if global.lifecycle_services_banner.links %}
        <div class="flex flex-wrap mt-6 gap-6">
          {% for item in global.lifecycle_services_banner.links %}
            <a
              class="{{ loop.first ? 'button-primary' : 'button-secondary-alt' }}"
              href="{{ item.link.url }}"
              target="{{ item.link.target | default('_self') }}"
            >{{ item.link.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  {{ include('svgs/lifecycle-services-shape.twig', {
    class: 'absolute bottom-0 right-0 w-full pointer-events-none',
  }) }}
</section>
