<section class="fluid-grid py-8 lg:py-16">
  <div class="span-content text-center">
    <div class="inline-block">
      <h2 class="text-h3 inline-block text-center text-balance mx-auto">{{ heading }}</h2>
      <div class="mt-3 h-1 w-full gradient-light bg-linear-to-r"></div>
    </div>
  </div>
  <div class="span-content snap-x scroll-pl-(--col-gap) flex gap-x-9 overflow-x-auto -mx-(--col-gap) px-(--col-gap) mt-5 py-4 lg:grid lg:grid-cols-12 lg:gap-fluid-grid-gap lg:mx-0 lg:px-0 lg:overflow-visible">
    {% for card in cards %}
      <div class="group relative w-64 shrink-0 snap-start lg:col-span-3 lg:w-full">
        {{ ResponsiveImage(card.image, {
          class: 'w-full aspect-[1.67] object-cover',
          sizes: '(min-width: 1376px) 284px, (min-width: 1024px) 20vw, 256px',
        }) }}
        <div class="pt-6 px-2">
          <h3 class="">
            <a
              class="p-3 -m-3 inline items-center"
              href="{{ card.link.url }}"
              target="{{ card.link.target | default('_self') }}"
            >
              <span class="text-h6 xl:text-h5">{{ card.link.title }}</span>
              {{ include('svgs/arrow-right.twig', { class: 'inline-block ml-2.5 size-4 shrink-0 -translate-y-0.5 transition-transform group-hover:translate-x-1' }) }}
              <span class="absolute -inset-3 sm:-inset-4 border-4 border-blue opacity-0 transition-opacity group-hover:opacity-100"></span>
            </a>
          </h3>
          <ul class="marker:text-blue-dark marker:text-lg list-disc pl-3.5 space-y-3 mt-3">
            {% for item in card.list %}
              <li class="text-body-medium">{{ item.text }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
