<section class="bg-bone fluid-grid">
  {% for location_group in location_groups %}
    {% if not loop.first %}
      <div class="span-content border-b border-b-gray-light"></div>
    {% endif %}
    {% if location_group.collapsible %}
      <div
        x-data="{ open: {{ location_group.default_state == 1 ? 'true' : 'false' }} }"
        class="span-content grid grid-cols-subgrid"
      >
        <button
          @click="open = !open"
          :aria-expanded="open"
          class="col-span-12 flex justify-between py-10"
        >
          <h2 class="text-h4 lg:text-h3">{{ location_group.heading }}</h2>
          <div
            :class="open && '-scale-y-100'"
            class="w-6.5 flex items-center transition-transform"
          >
            {{ include('svgs/caret-down.twig', {
              class: 'w-full',
            }) }}
          </div>
        </button>
        <div
          x-show="open"
          x-collapse
          x-cloak
          class="col-span-12"
        >
          {{ include('components/locations/panel.twig') }}
        </div>
      </div>
    {% else %}
      <div class="span-content grid grid-cols-subgrid">
        <h2 class="col-span-12 flex justify-between py-10 text-h4 lg:text-h3">{{ location_group.heading }}</h2>
        <div class="col-span-12">
          {{ include('components/locations/panel.twig') }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>
