<section class="fluid-grid bg-gray text-white py-16 lg:py-24">
  <div class="span-content grid grid-cols-subgrid gap-y-12">
    <div class="col-span-12 md:col-span-5">
      <h2 class="text-h2 text-balance">{{ heading }}</h2>
      {% if body %}
        <p class="text-body-medium my-3">{{ body }}</p>
      {% endif %}
      {% if links %}
        <div class="mt-6">
          {% for item in links %}
            <a
              class="button-primary"
              href="{{ item.link.url }}"
              target="{{ item.link.target | default('_self') }}"
            >{{ item.link.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="col-span-12 md:col-span-7 flex flex-wrap gap-x-5 gap-y-8 justify-center">
      {% for logo in logos %}
          <div
            {% if logo.width %}
              style="width: {{ logo.width }}px;"
            {% endif %}
          >
            {{ ResponsiveImage(logo.image, {
              class: '',
              sizes: '200px',
            }) }}
          </div>
      {% endfor %}
    </div>
  </div>
</section>
