{% if markets_shown == 'selection' %}
  {% set markets = get_posts(markets) %}
{% else %}
  {% set markets = get_posts({
    post_type: 'market',
    posts_per_page: -1,
    orderby: 'title',
    order: 'ASC',
  }) %}
{% endif %}

<section class="fluid-grid bg-gray text-white py-24">
  <div class="span-content grid grid-cols-subgrid">
    <div class="col-span-12 lg:col-span-9">
      <h2 class="text-h2">{{ global.market_grid.heading }}</h2>
      <p class="text-body-medium mt-2.5">{{ global.market_grid.body }}</p>
    </div>
    <div class="hidden lg:block col-span-3 self-end text-right">
      {% if global.market_grid.link %}
        {{ include('partials/arrow-link-small.twig', {
          ...global.market_grid.link,
          link: global.market_grid.link.url,
        }) }}
      {% endif %}
    </div>
    <div class="col-span-12">
      {# mobile #}
      <div class="w-screen relative left-1/2 right-1/2 mx-[-50vw]">
        <ul class="flex gap-x-6 py-12 snap-x overflow-x-auto px-(--col-gap) scroll-pl-(--col-gap) lg:hidden">
          {% for market in markets %}
            <li class="w-48 shrink-0 snap-start">
              <a
                href="{{ market.link }}"
                class=""
              >
                {{ ResponsiveImage(market.image, {
                  class: 'w-full aspect-[1.75] object-cover',
                  sizes: '(min-width: 1376px) 234px, (min-width: 1024px) 25vw, 192px',
                }) }}
                <div class="relative bg-blue text-gray-dark p-2.5 min-h-36 flex gap-x-1 overflow-hidden">
                  {{ ResponsiveImage(market.icon_light, {
                    class: 'absolute -top-1/4 -left-1/6 size-[105%]',
                    sizes: '192px',
                  }) }}
                  <div class="relative flex flex-col justify-end">
                    <h3 class="text-h5 text-balance">{{ market.title }}</h3>
                    <p class="text-body-small">{{ market.intro }}</p>
                  </div>
                  {{ include('svgs/arrow-right.twig', { class: 'shrink-0 size-4 self-end' }) }}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      {# desktop #}
      <ul class="hidden lg:grid grid-cols-5 gap-7 mt-12">
        {% for market in markets %}
          <li class="relative w-full aspect-square overflow-hidden">
            <a
              href="{{ market.link }}"
              class="group size-full"
            >
              {{ ResponsiveImage(market.image, {
                  class: 'size-full object-cover',
                  sizes: '(min-width: 1376px) 234px, (min-width: 1024px) 25vw, 192px',
                }) }}
              <div class="absolute z-10 inset-0 bg-linear-to-t from-gray-dark to-65% to-white/0"></div>
              <h3 class="absolute z-20 top-3.5 bottom-3.5 left-2.5 right-2.5 flex items-end text-h5">{{ market.title }}</h3>
              <div class="absolute z-30 top-full left-0 flex flex-col justify-end size-full p-4 bg-blue text-gray-dark transition-transform group-hover:-translate-y-full overflow-hidden">
                <div class="relative size-full">
                  {{ ResponsiveImage(market.icon_light, {
                    class: 'absolute -top-1/4 -left-1/4 size-11/12',
                    sizes: '192px',
                  }) }}
                  <div class="relative size-full flex flex-col justify-end">
                    <h3 class="text-h5 text-balance">{{ market.title }}</h3>
                    <div class="flex gap-x-1">
                      <p class="text-body-medium">{{ market.intro }}</p>
                      {{ include('svgs/arrow-right.twig', { class: 'shrink-0 size-4 self-end' }) }}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-span-12 lg:hidden">
      {% if global.market_grid.link %}
        {{ include('partials/arrow-link-small.twig', {
          ...global.market_grid.link,
          link: global.market_grid.link.url,
        }) }}
      {% endif %}
    </div>
  </div>
</section>
