<section class="bg-gray text-white pt-16 pb-24">
  <div class="fluid-grid">
    <div class="span-content text-center">
      <div class="inline-block">
        <h2 class="text-h4 inline-block">{{ global.values.heading }}</h2>
        <div class="w-full h-1 gradient-light bg-linear-to-l my-3"></div>
      </div>
      <p class="text-body-large">{{ global.values.body }}</p>
    </div>
    <div class="span-content grid grid-cols-1 lg:grid-cols-5 gap-x-fluid-grid-gap mt-8 lg:mt-12 text-center lg:text-left gap-y-12">
      {% for value in global.values.values %}
        <div class="">
          {{ ResponsiveImage(value.image, {
            class: 'size-18 lg:size-24 mx-auto lg:ml-0 object-cover',
            sizes: '(min-width: 1024px) 96px, 72px',
          }) }}
          <h3 class="text-h4 lg:text-h6 text-balance mt-4">{{ value.heading }}</h3>
          {% if value.subheading %}
            <div class="text-body-large mt-1">{{ value.subheading }}</div>
          {% endif %}
          {% if value.body %}
            <p class="text-body-medium mt-4">{{ value.body }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
