<div
  @click.outside="modalOpen = false"
  class="relative z-50 mx-auto max-w-full w-3xl flex flex-col mt-(--wp-admin--admin-bar--height) px-8 pt-24 pb-12 md:py-12 md:pl-12 md:pr-14 bg-white overflow-y-auto"
>
  <button
    @click="modalOpen = false"
    class="absolute top-4 right-4 md:top-2 md:right-2 size-11 p-2"
  >
    {{ include('svgs/x.twig', {
      class: '',
    }) }}
    <div class="sr-only">Close</div>
  </button>
  <div class="flex flex-col">
    <div class="flex flex-col md:flex-row gap-x-6 gap-y-7">
      {{ ResponsiveImage(leader.image, {
        class: 'w-full aspect-square md:w-40 object-cover',
      }) }}
      <div class="flex flex-col justify-center gap-y-1.5 lg:pr-24">
        <h3 class="text-h2">{{ leader.title }}</h3>
        <p class="text-body-large">{{ leader.job_title }}</p>
        <div class="">
          <a
            href="{{ leader.linkedin_url }}"
            target="_blank"
            class="inline-block"
          >
            {{ include('svgs/social/linkedin.twig', {
              class: 'text-[#0072B1] size-7',
            }) }}
          </a>
        </div>
      </div>
    </div>
    <div class="h-1 w-full gradient-light bg-linear-to-r my-6 md:my-8"></div>
    <p class="text-body-large">{{ leader.description | nl2br }}</p>
  </div>
</div>
